<main cdkScrollable class="page vertical" id="home-page">
    <section class="hero">
        <app-hero [image]="heroImage" [sectionToScrollTo]="'products'"></app-hero>
    </section>
    <section class="page__section" id="products">
        <h1>Highlighted Story</h1>
    </section>
    <section class="page__section" id="video-banner">
        <h1>About Battaglia</h1>
    </section>
    <section class="page__section" id="story">
        <h1>Shop 3 items</h1>
    </section>
    <section class="page__section" id="reviews">
        <h1>Featured product with story</h1>
    </section>
    <section class="page__section" id="highlight">
        <h1>3 Featured artists</h1>
    </section>
    <section class="page__section" id="about-us">
        <h1>Events</h1>
    </section>
    <section id="footer">
        <app-footer></app-footer>
    </section>
</main>