@import './../../../assets/scss/config';
@import './../../../assets/scss/animations';
@import './../../../assets/scss/mixins';

#home-page {
    background-color: $white-2;
    @include scrollSnap();

    &.page {
        &__section {
            height: 100vh;
            min-height: 100vh;
            overflow: hidden;
            width: 100vw;
        }
    }

    .hero {
        height: 100vh;
        min-height: 100vh;
        overflow: hidden;

        app-hero {
            height: inherit;
            width: inherit;
        }
    }
}