<main cdkScrollable class="page vertical" id="home-page">
    <section class="hero">
        <app-hero [image]="heroImage" [sectionToScrollTo]="'featured-product'"></app-hero>
    </section>
    <section class="page__section" id="featured-product">
        <app-featured-product></app-featured-product>
    </section>
    <section class="page__section" id="video-banner">
        <h1>About Battaglia</h1>
    </section>
    <section class="page__section" id="story">
        <h1>Shop banner</h1>
    </section>
    <section class="page__section" id="reviews">
        <h1>3 Featured products</h1>
    </section>
    <section class="page__section" id="highlight">
        <h1>Local Featured Artist</h1>
    </section>
    <section class="page__section" id="story">
        <app-shop-banner-two></app-shop-banner-two>
    </section>
    <section class="page__section" id="about-us">
        <h1>1 Product story</h1>
    </section>
    <section id="footer">
        <app-footer></app-footer>
    </section>
</main>