@import './../../../../assets/scss/config';
@import './../../../../assets/scss/mixins';

.horizontal-slider {
    height: 100vh;
    overflow-x: scroll;
    width: 100vw;

    @include flex(flex-start, center, row, nowrap);
    @include scrollSnap(start, x);

    &__slide {
        height: 100vh;
        min-width: 100vw;
        width: 100vw;

        @include flex(flex-start, center, row, nowrap);
    }
}