@import './../../../../assets/scss/config';
@import './../../../../assets/scss/mixins';

.about-slide {
    background-color: $black;
    height: 100%;
    padding: 80px;
    width: 100%;

    @include flex(flex-start, center, row, nowrap);

    &__img-container {
        height: 100%;
        overflow: hidden;
        width: 40%;

        @include flex(flex-start, flex-start, column, nowrap);

        &.multiple {
            @include flex(space-between, center, column, nowrap);

            img {
                height: calc(50% - 20px);
                width: 100%;
            }
        }
    }

    &__battaglia {
        height: 100%;
        padding: 0 0 0 10px;
        width: 10%;

        @include flex(center, center);

        h1 {
            color: $gold;
            font-size: 86px;
            letter-spacing: 18px;
            transform: scale(-1, -1);
            writing-mode: vertical-lr;
        }
    }

    &__right {
        background-image: url('./../../../../assets/img/backgrounds/about-us-slider/right-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        padding: 20px 20px 20px 40px;
        min-height: 100%;
        width: 50%;

        .text {
            height: inherit;
            width: 70%;

            @include flex(center, center, column, nowrap);

            p {
                color: $gold;
                font-family: $title-font;
                font-size: 24px;
                font-weight: $regular;
                text-align: center;
            }
        }
    }
}