<div class="footer-container">
    <div class="footer-container__social">
		<a href="#" class="icon-btn"
			aria-label="Link to Instagram profile" target="_blank" rel="noopener">
			<i class="fab fa-instagram"></i>
		</a>
        <a href="#"
            class="icon-btn" aria-label="Link to LinkedIn profile" target="_blank" rel="noopener">
            <i class="fab fa-whatsapp"></i>
		</a>
    </div>
    <div class="footer-container__address">
        <h1 class="placeholder">Footer info</h1>
        <!-- <a target="_blank" rel="noopener" class="contact-link"
            href="https://maps.google.com/?q='Kerssemakersstraat 2, Sint Anthonis'">
            Deken Kerssemakersstraat 2<br>
            5845CV Sint Anthonis
        </a>
    </div>
    <div class="footer-container__contact">
        <a class="contact-link" target="_blank" rel="noopener" href="mailto:info@bruurculinair.nl">
            info@bruurculinair.nl
        </a>
        <a class="contact-link" href="tel:06-21210182">
            06-21210182
        </a> -->
    </div>
</div>
