<div id="featured-product">
    <div class="f-product-slide" id="slide-1">
        <div class="side-info">
            <div class="side-info__top">
                <h1>Vol. No. 1</h1>
            </div>
            <div class="side-info__bottom">
                <span>
                    Coleccion
                </span>
            </div>
        </div>
        <div class="center">
            <h4 class="center__subtitle">
                Battaglia<br>
                Presenta:
            </h4>
            <h2>
                <span>
                    El Camino
                </span>
                <span>
                    De
                </span>
                <span>
                    Regreso
                </span>
                <span>
                    (A ti)
                </span>
            </h2>
        </div>
        <div class="right">
            <div class="right__welcome">
                <span>Bienvenido</span>
                <hr class="hr-left">
                <span>Bienvenida</span>
                <hr class="hr-right">
                <span>Bienvenide</span>
            </div>
        </div>
    </div>
    <div class="f-product-slide" id="slide-2">
        <span>20</span>
        <span>20</span>
    </div>
</div>
