@import './../../../../assets/scss/config';
@import './../../../../assets/scss/mixins';
@import './../../../../assets/scss/extends';

#featured-product {
    height: 100vh;
    overflow-x: auto;
    width: 100vw;

    @include flex(flex-start, center, row, nowrap);

    .f-product-slide {
        height: 100vh;
        overflow: hidden;
        position: relative;
        width: 50%;

        @include flex(flex-start, center, row, nowrap);
    }

    #slide-1 {
        background-image: url('./../../../../assets/img/backgrounds/f-product/f-product-1.jpg');
        background-size: cover;
        background-position: center;

        .side-info {
            border-right: 2px solid $black;
            height: 100%;
            width: 20%;

            @include flex(flex-start, flex-start, column, nowrap);

            &__top {
                height: 70%;
                margin: auto;

                @extend %flex-center;

                h1 {
                    transform: scale(-1, -1);
                    writing-mode: vertical-lr;
                    width: fit-content;
                }
            }

            &__bottom {
                border-top: 2px solid $black;
                height: 30%;
                padding: 20px 10px;
                width: 100%;

                span {
                    font-family: $title-font;
                    font-weight: $regular;
                    line-height: 5rem;
                    width: 100%;
                    word-break: break-all;

                    @include rem(font-size, 36px);
                }
            }
        }

        .center {
            height: fit-content;
            width: 60%;

            @include flex(center, flex-start, column, nowrap);

            &__subtitle {
                font-size: 28px;
                font-weight: $light;
                margin: 0 auto 40px 40px;
            }

            h2 {
                margin: 0 0 0 40px;

                @include flex(flex-start, flex-start, column, nowrap);

                span {
                    font-family: $title-font;
                    font-size: 48px;
                    position: relative;

                    &:first-child {
                        left: -3%;
                    }

                    &:nth-child(2) {
                        left: 45%;
                    }

                    &:nth-child(3) {
                        left: 65%;
                    }

                    &:last-child {
                        font-size: 40px;
                        font-weight: $regular;
                        left: 100%;
                    }
                }
            }
        }

        .right {
            height: fit-content;
            padding: 30px 30px 0 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;

            @include flex(flex-start, flex-end, column, nowrap);

            &__welcome {
                width: fit-content;

                @include flex(flex-end, flex-start, column, nowrap);

                span {
                    font-family: $title-font;

                    @include rem(font-size, #{$fs-4});
                }

                hr {
                    background-color: $black;
                    width: 7.5%;
                    height: 4px;

                    &.hr-left {
                        margin: 5px auto 10px 1px;
                    }

                    &.hr-right {
                        margin: 5px 1px 10px auto;
                    }
                }
            }
        }
    }

    #slide-2 {
        background-image: url('./../../../../assets/img/backgrounds/f-product/f-product-2.jpg');
        background-size: cover;
        background-position: center;

        span {
            color: #FAE2B0;
            position: absolute;
            font-family: $title-font;
            line-height: 4.6rem;

            @include rem(font-size, 46px);

            &:first-child {
                left: 30px;
                top: 30px;
            }

            &:last-child {
                bottom: 30px;
                right: 30px;
            }
        }
    }
}